<p style="color: green"><%= notice %></p>

<h1>Social networks</h1>

<div id="social_networks">
  <% @social_networks.each do |social_network| %>
    <%= render social_network %>
    <p>
      <%= link_to "Show this social network", social_network %>
    </p>
  <% end %>
</div>

<%= link_to "New social network", new_social_network_path %>
